<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit note</title>
</head>
<body style="text-align: center;">
<h3>Edit note</h3>
<p>
    <a th:href="@{/notes}">Back to Notes list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-notes}" th:object="${notes}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table align="center">

        <tr>
            <td style="text-align: left">Title</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{title}"/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Content</td>
            <td>
                <textarea rows="10" style="width: 300px; padding: 5px;" th:field="*{content}"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update note"></td>
        </tr>
    </table>
</form>
</body>
</html>