<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new category</title>
</head>
<body  style="text-align: center;">
<h3>Add new category</h3>
<p>
    <a th:href="@{/types}">Back to Categories list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/types-create}" th:object="${notesType}" method="post">
    <table align="center">
        <tr>
            <td>Category name</td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add Category"></td>
        </tr>
    </table>
</form>
</body>
</html>