<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories List</title>
</head>
<body style="text-align: center;">
<h2>Categories List</h2>
<p>
    <a th:href="@{/types-create}">Add new category</a>
</p>

<table border="1px" align="center">
    <thead>
    <tr>
        <th style="width: 150px">Category name</th>
        <th colspan="2" style="width: 150px">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="types : ${notesTypes}">
        <td th:text="${types.getName()}"></td>
        <td><a th:href="@{/types-edit/__${types.id}__}">Edit</a></td>
        <td><a th:href="@{/types-delete/__${types.id}__}" onclick="return confirm('Are you sure to delete this category???')">Delete</a></td>
    </tr>
    </tbody>
</table>
<p>
    <a href="/notes">Back to Notes list</a>
</p>
<footer></footer>
</body>
</html>